################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QtCrossBuildTestApp/.vs/QtCrossBuildTestApp/v15
/QtCrossBuildTestApp/GeneratedFiles
/QtCrossBuildTestApp/x64/Debug
/001_QtCrossBuildTestApp/.vs/001_QtCrossBuildTestApp/v15
/001_QtCrossBuildTestApp/debug
/001_QtCrossBuildTestApp/GeneratedFiles
/001_QtCrossBuildTestApp/release
/001_QtCrossBuildTestApp/x64/Debug
