################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QtCrossBuildTestApp/.vs/QtCrossBuildTestApp/v15
/QtCrossBuildTestApp/GeneratedFiles
/QtCrossBuildTestApp/x64/Debug
